body {
  background-color: #b91450;
}

.main-title {
  text-align: center;
  color: #ddd;
  font-size: 3rem;
  font-weight: bold;
}

#ticket {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

#ticket .col-3:first-child {
  background-color: lightgray;
}
